.person-coding {
  width: 100%;
}

.center {
  text-align: center;
}

.jumbotron {
  border-style: solid;
  border-width: 2px;
}

.jumbotron h1 {
	font-weight: normal; 
  font-size: 52px;
}

body {
  background-image: url(https://tulsaspecialtysales.com/image/277595-full_cool-green-and-blue-abstract-backgrounds.jpg);
  background-size: cover;
}

.practiced {
  font-weight: bold;
  background-color: cornsilk;
}

.hobbies {
  height: 150px;
}

h4 {
  font-weight: bold;
}

.about {
  border: 2px solid rgb(21, 110, 212);
  padding: 10px;
  margin: 10px;
}

.epicodus {
  width: 100%;
  float: left;
  background-color: yellow;
}

 .well {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
