.person-coding {
  width: 100%;
}

.center {
  text-align: center;
}

.jumbotron h1 {
	font-weight: normal; 
	font-size: 52px;
}

body {
  background-image: url(https://tulsaspecialtysales.com/image/277595-full_cool-green-and-blue-abstract-backgrounds.jpg);
  background-size: cover;
}
